################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

*.json
/.vs
/ejemplo01/.vs/ejemplo01/v16
